<html>
<body>
<p>
Your address request for [address string here] is being held for municipality verification.  As soon as the SACG hears back from the municipality they will update your request.  You will be notified if it has been approved or rejected.  

</p>
<b>You can check the status of your request here:</b>
<a href="#">Insert link of Address Request</a>
</body>
<html>